root = true

[*.{dart,kt,java,xml,md,yaml,yml,gradle,properties,swift,plist,txt}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{kt,java,xml,gradle,swift}]
indent_style = space
indent_size = 4

[*.{dart,yaml,yml,md,txt}]
indent_style = space
indent_size = 2
